<div class="main" ng-controller="MainCtrl as ctrl">
  <md-toolbar md-scroll-shrink>
    <div class="md-toolbar-tools">
      <h3>
        <md-icon class="main__logo" md-svg-icon="images/logo.svg" aria-label="Kenoby"></md-icon>
        <span>{{'general.welcome' | translate}}</span>
      </h3>
    </div>
  </md-toolbar>

  <div class="main__progress" layout="row" layout-sm="column" layout-align="space-around" ng-show="loading">
    <md-progress-circular md-mode="indeterminate"></md-progress-circular>
  </div>

  <section class="main__container" ui-view></section>

</div>
