<md-content class="people">
  <md-list flex>
    <md-subheader class="md-no-sticky md-primary">
      {{ 'people.title' | translate}} <i class="fa fa-users" aria-hidden="true"></i>
    </md-subheader>
    <md-divider></md-divider>
    <md-list-item class="md-3-line">
      <div class="md-list-item-text people__list-item" layout="column" ng-show="!adding" ng-init="adding = false">
        <md-button md-no-ink class="md-accent md-raised" ng-click="adding = !adding">
          <i class="fa fa-plus" aria-hidden="true"></i> {{ 'people.new' | translate}}
        </md-button>
      </div>
      <div class="md-list-item-text people__list-item" layout="column" ng-show="adding">
        <form name="peopleAddForm">
          <md-input-container>
            <label>{{ 'people.name' | translate}}</label>
            <input name="name" ng-model="name" required>
            <div ng-messages="peopleAddForm.name.$error">
              <div ng-message="required">{{'error.required' | translate}}</div>
            </div>
          </md-input-container>
          <md-input-container>
            <label>{{ 'people.email' | translate}}</label>
            <input name="email" ng-model="email" required>
            <div ng-messages="peopleAddForm.email.$error">
              <div ng-message="required">{{'error.required' | translate}}</div>
            </div>
          </md-input-container>
          <md-button type="submit" class="md-accent md-raised" aria-label="{{'people.add' | translate}}"><i class="fa fa-check" aria-hidden="true"></i></md-button>
        </form>
      </div>
      <md-divider></md-divider>
    </md-list-item>
    <md-list-item class="md-3-line" ng-repeat="item in peoples track by $index" ng-click="null">
      <img ng-src="images/people.svg" class="md-avatar" alt="{{item.name}}" ng-show="!editing[$index]" />
      <div class="md-list-item-text" layout="column" ng-show="!editing[$index]" ng-init="editing[$index] = false">
        <input type="hidden" value="{{ item.id }}">
        <h4>{{ item.name }}</h4>
        <p>{{ item.email }}</p>
      </div>
      <div class="md-list-item-text people__list-item" layout="column" ng-show="editing[$index]">
        <form name="peopleEditForm">
          <md-input-container>
            <label>{{ 'people.name' | translate}}</label>
            <input name="name" ng-model="name" ng-init="name=item.name" required>
            <div ng-messages="peopleEditForm.name.$error">
              <div ng-message="required">{{'error.required' | translate}}</div>
            </div>
          </md-input-container>
          <md-input-container>
            <label>{{ 'people.email' | translate}}</label>
            <input name="email" ng-model="email" ng-init="email=item.email" required>
            <div ng-messages="peopleEditForm.email.$error">
              <div ng-message="required">{{'error.required' | translate}}</div>
            </div>
          </md-input-container>
          <md-button type="submit" class="md-accent md-raised" aria-label="{{'people.confirm' | translate}}"><i class="fa fa-check" aria-hidden="true"></i></md-button>
        </form>
      </div>
      <div class="md-list-item-text people__list-item--tools" layout="column">
        <md-button md-no-ink class="md-icon-button md-accent md-raised" aria-label="{{'people.edit' | translate}}" ng-click="editing[$index] = !editing[$index]" ng-show="!editing[$index]">
          <i class="fa fa-edit" aria-hidden="true"></i>
        </md-button>
        <md-button md-no-ink class="md-icon-button md-accent md-raised" aria-label="{{'people.delete' | translate}}" ng-show="!editing[$index]">
          <i class="fa fa-trash-o" aria-hidden="true"></i>
        </md-button>
      </div>
      <md-divider></md-divider>
    </md-list-item>
    <div class="md-list-item-text people__list-item" layout="column">
      <md-button md-no-ink class="md-accent md-raised" ng-disabled="peoples.length <= 1">
        <md-icon md-svg-icon="images/luck.svg" aria-label="draft"></md-icon> {{ 'people.draft' | translate}}
      </md-button>
    </div>
  </md-list flex>
</md-content>
